*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: rgb(0, 0, 0);
    background-color:#F4F0EA;
}

header{
    padding: 2em;
    background-color: #007ACC;
    color: #ffffff;
}

.h1-centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu{

    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 20px;
    padding: 16px;
    margin: 0 auto;
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color:#24d839;
    transition: 0.5s;
}
main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

h2{
    font-size: 1.2rem;
}

h3{
    color: #0d22a6;
    font-size: 1rem;
}

p{
    text-align: justify;
}